.search{
    margin-top: 20px;
}

.heading {
    font-size: 20px;
    font-weight: bold;
    position: relative;
    margin-top: 15px;
}

.heading::after {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 0;
    width: 60%;
    height: 4px;
    background: #0077ff;
}

.dropdown{
    margin-top: 25px;
    margin-bottom: 25px;
}

.startRoomButton {
    display: flex;
    align-items: center;
    background: #41eb5e;
    padding: 10px 20px;
    border-radius: 20px;
    color: #fff;
    transition: all 0.3s ease-in-out;
    border: none;
    outline: none;
    cursor: pointer;
}

.startRoomButton span {
    font-size: 16px;
}